.container{
    width: 800px;
    margin-left: auto;
    margin-right: auto;
    padding: 15px;
}
.heading{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
}
/* Thick red border */
hr.line1 {
  border: 1.5px solid grey;

}
* {
box-sizing: border-box;
}

/* Create three unequal columns that floats next to each other */
.column {
float: left;
padding: 10px;
height: 150px;
clear: right;
clear: top;
}

.left{
  width: 25%;
  float: left;
  padding: 5px;
  height: 150px;
  position: relative;
  bottom: 5px;
}

.right{
  width: 25%;
  float: left;
  padding: 15px;
  height: 150px;
  position: relative;
  bottom: 15px;
}

.middle {
width: 50%;
float: left;
padding: 10px;
height: 150px;
position: relative;
bottom: 0px;
}

/* Clear floats after the columns */
.row:after {
content: "";
display: table;
clear: both;
}
.pic{
position: absolute;
width: 100%;
height: auto;

}

body {
  background-repeat: no-repeat, repeat;
  background-size: cover;
  font-size: 16px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  animation: smoothIN 1s;
}

/* Body Transition*/
@keyframes smoothIN {
from {
opacity: 0;
transform: translateY(-10px);
}

to {
opacity: 1;
transform: translateY(-10px);
}

/* Top Button*/
}
#btn {
display: none;
position: fixed;
bottom: 20px;
right: 150px;
z-index: 99;
font-size: 18px;
border: none;
outline: none;
background-color: grey;
color: white;
cursor: -moz-grabbing;
padding: 15px;
border-radius: 4px;
}

#btn:hover {
background-color: blue;
}

/* light and dark Colors */
:root {

  /* --bg-color: rgb(255, 255, 255); */

  --bg-color: url('bg2.svg');
  background-size: cover;

}

[data-theme="dark"] {
  --font-color: rgb(225, 225, 255);
  --bg-color: url('bg.svg');
  --heading-color: rgb(129, 140, 171);
}
body {
  background-image: var(--bg-color);
  background-size: cover;
  color: var(--font-color);
}

/* Toggle Switch*/
.theme-switch-wrapper {
  position: fixed;
  left: 1300px;
  top: 45px;
  display: flex;
  align-items: center;

}
.theme-switch {
  display: inline-block;
  height: 20px;
  position: relative;
  left: 5px;
  width: 44px;
}

.theme-switch input {
  display:none;
}

.slider {
  background-color: rgb(204, 204, 204);
  bottom: 0;
  cursor: pointer;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transition: .4s;
}

.slider:before {
  background-color: rgb(255, 255, 255);
  bottom: 0.5px;
  content: "";
  height: 20px;
  left: -1px;
  position: absolute;
  transition: .4s;
  width: 20px;
  background-color: blue;
}

input:checked + .slider {
  background-color: grey;
}

input:checked + .slider:before {
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

/* Sun Icon*/
.sun{
  position: fixed;
  left: 1275px;
  top: 45px;
  color: blue;
}

/* Moon Icon*/
.moon{
  position: fixed;
  left: 1365px;
  top: 45px;
  color: blue;
}

/* cv download */
.cv{
  position: absolute;
  left: 1176px;
  top: 77px;
  border: none;

}
.down{
  position: absolute;
  left: 1180px;
  top: 38px;
  font-size: 50px;

}