.container{
    width: 800px;
    margin-left: auto;
    margin-right: auto;
    padding: 15px;
}
.heading{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
}
/* Thick red border */
hr.line1 {
  border: 1.5px solid grey;

}
* {
box-sizing: border-box;
}

/* Create three unequal columns that floats next to each other */
.column {
float: left;
padding: 10px;
height: 150px;
}

.left, .right {
width: 25%;
}

.middle {
width: 50%;
}

/* Clear floats after the columns */
.row:after {
content: "";
display: table;
clear: both;
}
.pic{
position: absolute;
width: 100%;
height: auto;

}

body {
font-size: 16px;
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
animation: smoothIN 1s;
}
@keyframes smoothIN {
from {
opacity: 0;
transform: translateY(-10px);
}

to {
opacity: 1;
transform: translateY(-10px);
}

}
#btn {
display: none;
position: fixed;
bottom: 20px;
right: 150px;
z-index: 99;
font-size: 18px;
border: none;
outline: none;
background-color: grey;
color: white;
cursor: -moz-grabbing;
padding: 15px;
border-radius: 4px;
}

#btn:hover {
background-color: blue;
}

/* light and dark */
:root {

  --bg-color: rgb(255, 255, 255);
}

[data-theme="dark"] {
  --font-color: rgb(225, 225, 255);
  --bg-color: rgb(0,0,0);
  --heading-color: rgb(129, 140, 171);
}
body {
  background-color: var(--bg-color);
  color: var(--font-color);

  /*other styles*/
}

/*Simple css to style it like a toggle switch*/
.theme-switch-wrapper {
  position: absolute;
  left: 1300px;
  top: 45px;
  display: flex;
  align-items: center;

}
.theme-switch {
  display: inline-block;
  height: 20px;
  position: relative;
  width: 55px;
}

.theme-switch input {
  display:none;
}

.slider {
  background-color: rgb(204, 204, 204);
  bottom: 0;
  cursor: pointer;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transition: .4s;
}

.slider:before {
  background-color: rgb(255, 255, 255);
  bottom: 0.5px;
  content: "";
  height: 20px;
  left: 4px;
  position: absolute;
  transition: .4s;
  width: 20px;
}

input:checked + .slider {
  background-color: grey;
}

input:checked + .slider:before {
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.sun{
  position: absolute;
  left: 1275px;
  top: 45px;
  color: blue;
}
.moon{
  position: absolute;
  left: 1365px;
  top: 45px;
  color: blue;
}